body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

.mdl-data-table {
  font-size: 11px;
}

.mdl-data-table {
  width: 100%;
  table-layout: fixed;
  height: auto;
}

.mdl-data-table th, td{
  overflow: auto;
  height: auto;
}

customize-columns-ul {
  overflow-y: scroll; 
  height: 200px;
}

.mdl-data-table th.mdl-data-table__header--sorted-ascending:before, .mdl-data-table th.mdl-data-table__header--sorted-descending:before {
  font-size: 20px;
}
